<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Book Mela {% block app_title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/3.2.6?plugins=forms@0.5.3,typography@0.5.9,aspect-ratio@0.4.2,line-clamp@0.4.2"></script>
</head>
<body>
<div class="container-lg mx-auto my-10 px-10">
    {% block app_content %}
    {% endblock %}
</div>
</body>
</html>