{% extends 'books/base.html' %}
{% block app_title %}
{% endblock %}
{% block app_content %}
<div class="grid grid-cols-4 gap-4">
    {% if book_list %}
    {% for book in book_list %}
    <a class="justify-self-center text-center my-4" href="{% url 'book.show' book.id %}">
        <div class="flex justify-center">
            <img height="auto" src="{{book.thumbnailUrl}}" width="200px"/>
        </div>
        <p class="text-lg text-gray-700">{{book.title}}</p>
    </a>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}