<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Books</title>
    <script src="https://cdn.tailwindcss.com/3.2.6?plugins=forms@0.5.3,typography@0.5.9,aspect-ratio@0.4.2,line-clamp@0.4.2"></script>
</head>
<body>
    <section class="py-10">
        <h2 class="text-center text-3xl">List of Books</h2>
        <div class="grid grid-cols-4 gap-4">
            {% if books %}
            {% for book in books %}
                <a href="{% url 'book.show' book.id %}" class="justify-self-center text-center my-4">
                    <div class="flex justify-center">
                        <img src="{{book.thumbnailUrl}}" width="200px" height="auto"/>
                    </div>
                    <p class="text-lg text-gray-700">{{book.title}}</p>
                </a>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</body>
</html>